.map_field {
    display: flex;
    flex-direction: column;
}
.map_field_up {
    display: flex;
    justify-content: space-evenly;
}
.map_field_up_logo {
    background-image: url("../../../assets/img/apple.png");
    background-position: center;
    background-size: cover;
}
.map_field_addresses { 
    width: 100%; 
    display: flex; 
    justify-content: space-evenly;
}
.map_field_gps {
    width: 100%;
    background-image: url("../../../assets/img/Bitmap.png");
    background-position: center;
    background-size: cover;
}

/* ---------- responsive design ---------- */
@media screen and (min-width: 1367px) {
    .map_field_up {
        width: 30%;
        align-items: center;
    }
    .map_field_up_logo { 
        width: 60px;
        height: 60px;
    }
    .map_field_up h1 {
        font-size: 32px;
    }
    .map_field_addresses {
        height: 35%;
    }
    .map_field_gps {
        margin-top: 1rem;
        height: 400px;
    }
}
@media screen and (max-width: 1366px) and (orientation: landscape) {
    .map_field_up {
        width: 30%;
        align-items: center;
    }
    .map_field_up_logo { 
        width: 60px;
        height: 60px;
    }
    .map_field_up h1 {
        font-size: 32px;
    }
    .map_field_addresses {
        height: 35%;
    }
    .map_field_gps {
        margin-top: 1rem;
        height: 400px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .map_field_up {
        width: 40%;
        align-items: center;
    }
    .map_field_up_logo {
        width: 40px;
        height: 40px;
    }
    .map_field_up h1 {
        font-size: 32px;
    }
    .map_field_addresses {
        height: 35%;
    }
    .map_field_gps {
        margin-top: 1rem;
        height: 300px;
    }
}

@media screen and (max-width: 414px) and (orientation: portrait) {
    .map_field_up {
        width: 70%;
        align-items: center;
    }
    .map_field_up_logo {
        width: 30px;
        height: 30px;
    }
    .map_field_up h1 {
        font-size: 26px;
    }
    .map_field_addresses {
        margin: 0 auto;
        flex-direction: column;
    }
    .map_field_gps {
        margin-top: 1rem;
        height: 200px;
    }
}