.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.right {
    float: right;
    width: 20%;
    height: 100%;
}
#img {
    background-image: url('../../assets/img/e16c571cb16e2fa7422822568aaee012.png');
    background-position: center;
    background-size: cover;
}
.menu_icon {
    background-image: url("../../assets/icons/menu-4-16.png");
    background-position: center;
    background-size: cover;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
}
.links a {
    color: black;
}
.links_up {
    width: 100%;
}
.links_up a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}
.links_down_wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.links_down a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}
.partners_link {
    font-weight: bold;
    text-decoration: underline;
}
.left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.location {
    display: flex;
    color: rgb(0, 0, 0, 0.5);
}
.geo {
    background-image: url("../../assets/icons/Triangle-2.png");
    background-position: center;
    background-size: cover;
}
.search {
    display: flex;
}
.search button {
    margin-left: 1.5rem;
    color: #00D36D;
    background-color: white;
    border-color: #00D36D;
    border-radius: 8px;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}
.search_icon {
    background-image: url("../../assets/icons/search.png");
    background-position: center;
    background-size: cover;
}
.modal_geo , .modal_search {
    display: none;
}

/* ---------- responsive design ---------- */
@media screen and (max-width: 1366px) and (max-height: 768px) and (orientation: landscape) {
    .header {
        width: 1366px;
        height: 7rem;
    }
    #img {
        width: 130px;
        height: 73px;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .links_none { 
        display: none
    }
    .links {
        font-size: 21px;
        width: 55%;
    }
    .links_up {
        margin-top: 0.8rem;
    }
    .links_up a {
        margin-right: 0.3rem;
    }
    .links_down_wrap {
        margin-bottom: 1.5rem; 
        margin-left: -3rem;
    }
    .left {
        width: 20%;
    }
    .location {
        margin-top: 1rem;
    }
    .location span {
        margin-left: 1.5rem;
        font-size: 20px;
    }
    .geo {
        width: 20px;
        height: 20px;
    }
    .search {
        margin-bottom: 1rem; 
        height: 20px;
    }
    .search button {
        font-size: 16px;
        margin-top: -0.2rem;
    }
    .search_icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .header {
        width: 768px;
        height: 5rem;
    }
    #img {
        width: 90px;
        height: 53px;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .links_none { 
        display: none
    }
    .links {
        font-size: 12px;
        width: 55%;
    }
    .links_up {
        margin-top: 0.8rem;
    }
    .links_up a {
        margin-right: 0.3rem;
    }
    .links_down_wrap {
        margin-bottom: 1.5rem; 
        margin-left: -1rem;
    }
    .left {
        width: 20%;
    }
    .location {
        margin-top: 1rem;
    }
    .location span {
        margin-left: 0.5rem;
        font-size: 10px;
    }
    .geo {
        width: 20px;
        height: 20px;
    }
    .search {
        margin-bottom: 1rem; 
        height: 20px;
        margin-left: 0.4rem;
    }
    .search button {
        font-size: 16px;
        margin-top: 0.2rem;
    }
    .search_icon {
        width: 15px;
        height: 15px;
        margin-top: 0.5rem; 
    }
}

@media screen and (max-width: 414px) and (max-height: 736px) and (orientation: portrait) {
    .header {
        width: 414px;
        height: 5rem;
    }
    #img {
        width: 60px;
        height: 23px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .links_none {
        display: block;
    }
    .menu_icon {
        width: 16px;
        height: 16px;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }
    .links {
        display: none;
    }
    .left {
        width: 30%;
        margin-right: -7rem;
    }
    .location {
        margin-top: 1rem;
    }
    .location span {
        margin-left: 0.5rem;
        font-size: 10px;
    }
    .geo {
        width: 20px;
        height: 20px;
    }
    .search {
        margin-bottom: 0.5rem; 
    }
    .search_icon {
        width: 15px;
        height: 15px;
        margin-top: 0.5rem; 
    }
}